.mat-toolbar{
    padding: 0 150px;
}
.spacer {
    flex: 1 1 auto;
}

.fa {
    padding: 10px;
    font-size: 25px;
    text-align: center;
    text-decoration: none;
}

.fa:hover {
    color: black;
}

.fa-facebook {
    color: black;
}

.fa-twitter {
    color: black;
}

.fa-linkedin {
    color: black;
}
