.mat-toolbar {
  padding: 0 150px;
}
.spacer {
  flex: 1 1 auto;
}

.fa {
  padding: 10px;
  font-size: 25px;
  text-align: center;
  text-decoration: none;
  .fa:hover {
    color: black;
  }
}

.fa-github {
  color: #607D8B;
}

.fa-linkedin {
  color: #607D8B;
}
.fa-address-card {
  color: #607D8B;
}

