<main>
  <h1>About The Application</h1>
  <p>
    My Employee Management application is developed using new technologies to
    provide a robust and user-friendly experience.
  </p>

  <h3>Technologies Used</h3>
  <ul>
    <li>
      <span>Angular Framework:</span> Angular serves as the foundation of our
      application, offering a comprehensive framework for building dynamic web
      applications.
    </li>
    <li>
      <span>Angular Material:</span> Used Angular Material components to ensure
      a consistent and visually appealing user interface across the application.
    </li>
    <li>
      <span>RxJS (Reactive Extensions for JavaScript):</span> RxJS facilitates
      efficient handling of asynchronous operations and data streams within the
      application, enabling smooth user interactions.
    </li>
    <li>
      <span>TypeScript:</span> TypeScript enhances code quality and
      maintainability by providing static typing and modern features to
      JavaScript development.
    </li>
    <li>
      <span>LocalStorage:</span> Utilizing the browser's localStorage API,
      saving employee data locall
    </li>
  </ul>
  <p>
    the next step of my building proccess is to conntent to a remote api
    database service
  </p>
</main>
